.banner {
    height: 80vh;
    /* di url ('taruk gambar banner disini) */
    background: linear-gradient(rgba(0,0,0,0,4), rgba (0,0,0,0,4)),url ('');
}

.hightlighted-kategori {
    border: solid;
    height: 250px;
}

.kategori-batik-pria {
      /* di url ('taruk gambar batik laris disini) */
    background: linear-gradient(rgba(0,0,0,0,4), rgba (0,0,0,0,4)),url ('');
    background-size: cover;
    background-position: center;
}

.kategori-batik-wanita { 
    /* di url ('taruk gambar batik laris disini) */
  background: linear-gradient(rgba(0,0,0,0,4), rgba (0,0,0,0,4)),url ('');
  background-size: cover;
  background-position: center;
}

.no-decoration {
    text-decoration: none;
    color: white;
}

.no-decoration :hover {
    color:pink
}

.text-harga {
    font-size: 20px;
}